html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background: linear-gradient(135deg, rgb(167, 88, 241), rgb(200, 167, 255));
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
