.card {
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    transition: background-color 0.3s, box-shadow 0.3s;
    width: 93%;
    min-height: 20px;
    word-wrap: break-word;
  }
  
  .card-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    word-wrap: break-word;
    text-align: left;
    width: 100%;
    display: inline-block;
  }
  
  .card:hover {
    background-color: #f4f4f4;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  }
  .card-tags {
    display: flex;
    align-items: start;
    gap: 4px; /* Space between tags */
    margin-bottom: 3px;
}

.card-tag {
    width: 36px;  /* Size of the tag */
    height: 12px; /* Size of the tag */
    border-radius: 10px; /* Make it round */
    display: inline-block; /* Ensure it respects width/height */
}

.card-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-description {
  font-size: 12px;
  color: #5c5959;
  word-wrap: break-word;
  text-align: left;
  flex-grow: 1;
}

.card-duedate{
  font-size: 12px;
  color: #5c5959;
  text-align: left;
  white-space: nowrap;
  margin-left:10px;
}